<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawker.mapper.RoleResourcesMapper">
  <resultMap id="BaseResultMap" type="com.hawker.model.RoleResources">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <id column="resources_id" jdbcType="INTEGER" property="resourcesId" />
  </resultMap>

  <select id="select" parameterType="com.hawker.model.RoleResources" resultType="com.hawker.model.RoleResources">
    select id,role_id,resources_id,action from role_resources
    where 1=1
    <if test="id!= null">AND id=#{id}</if>
    <if test="roleId != null"> AND role_id=#{roleId}</if>
    <if test="resourcesId != null"> AND resources_id=#{resourcesId}</if>
    <if test="action != null"> AND action=#{action}</if>
  </select>
  <insert id="insert" parameterType="com.hawker.model.RoleResources">
    insert into role_resources(role_id,resources_id,action) values (#{roleId},#{resourcesId},#{action})
  </insert>
</mapper>